#s-d {
  width: 85%;
  height: 18.75rem;
  margin-top: 8rem;
  margin-left: auto;
  margin-right: auto;
  background: #0f172a;
  border-radius: 1.25rem;
}
#s-d::backdrop {
  background-image: linear-gradient(90deg, #121212, transparent);
  filter: brightness(10px);
  opacity: 0.75;
}
.main-search-modal {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  padding: 2.75rem 2rem;
}
.main-search-modal .search-input-div {
  display: flex;
  align-items: flex-start;
  /* justify-content: space-between; */
  gap: 2rem;
}
.select-lable label {
  position: relative;
}
.select-lable label,
select {
  height: 3.375rem;
  width: 100%;
  -webkit-appearance: none;
}
.select-lable label span {
  position: absolute;
  top: -5px;
  right: -2px;
}
.search-input-div .search-lable {
  width: 100%;
  display: flex;
  align-items: center;
}
.search-input-div .search-lable label {
  position: relative;
}
.search-input-div .search-lable label span {
  position: absolute;
  top: 6px;
  right: 5px;
}
.search-input-div .search-lable label,
input {
  width: 100%;
  height: 3.375rem;
}
.search-lable button {
  background: transparent;
  border: none;
  cursor: pointer;
}

.search-content-box {
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-content-box .search-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.search-content p {
  text-align: center;
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 180%; /* 1.8rem */
  color: #fff;
  letter-spacing: 0.0625rem;
}
